name: Generate Atlas

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    uses: nappollen/udon-poster/.github/workflows/deploy.yml@main
    permissions:
      contents: read
      pages: write
      id-token: write
